---
import Layout from '../layouts/Layout.astro';

interface DataItem {
  id: string
  artist: string
  title: string
  year: string
  artwork: string
  spotifyUrl: string
}

const response = await fetch("https://dev.olk1.com/albums")
const data:DataItem[] = await response.json()

---

<Layout title="API Fetch" bgcol="bg-blak">
	<main class="container mx-auto">
    <!-- {JSON.stringify(data)} -->
    <section class="px-2 my-3 grid gap-1 sm:grid-cols-2 lg:grid-cols-lemon">
      {data.map((x) => 
      <a href={`${x.id}`}>
        <div>
          <img class="object-cover border-2 lg:border-[40px] border-blak hover:border-4 hover:rounded-none lg:rounded-[60px]" src={x.artwork} alt={x.title}>  
        </div>
      </a>
    
    )}
    </section>
	</main>
</Layout>


